<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>seckill result</title>
	<link rel="stylesheet" type="text/css" href="/css/all.css" />
	<link rel="stylesheet" type="text/css" href="/css/pages-getOrderInfo.css" />
</head>

<body>
<!--head-->
<!-- 头部栏位 -->
<!--页面顶部-->
<div id="nav-bottom">
	<!--顶部-->
	<div class="nav-top">
		<div class="top">
			<div class="py-container">
				<div class="shortcut">
					<ul class="fl">
						<li class="f-item"></li>
						<li class="f-item"><a href="login.html" target="_blank">login</a>　<span><a href="register.html" target="_blank">sign up</a></span></li>
					</ul>

				</div>
			</div>
		</div>

		<!--头部-->
		<div class="header">
			<div class="py-container">
				<div class="yui3-g Logo">
					<div class="yui3-u Rit searchArea">
						<div class="search">
							<form action="" class="sui-form form-inline">
								<!--searchAutoComplete-->
								<div class="input-append">
									<input type="text" id="autocomplete" class="input-error input-xxlarge" />
									<button class="sui-btn btn-xlarge btn-danger" type="button">search</button>
								</div>
							</form>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>



<div class="cart py-container" id="cart">
	<!--主内容-->
	<div class="checkout py-container">
		<div class="checkout-tit">
			<h4 class="tit-txt">order information</h4>
		</div>
		<div class="checkout-steps">
			<div class="hr"></div>
			<!--支付和送货-->
			<div class="payshipInfo">
<!--				<div class="step-tit">-->
<!--					<h5>支付方式</h5>-->
<!--				</div>-->
<!--				<div class="step-cont">-->
<!--					<ul class="payType">-->
<!--						<li class="selected" @click="order.payType='1'">在线支付<span title="点击取消选择"></span></li>-->
<!--						<li @click="order.payType='0'">货到付款<span title="点击取消选择"></span></li>-->

<!--					</ul>-->
<!--				</div>-->
				<div class="hr"></div>
				<div class="step-cont">
					<ul class="send-detail">
						<li>
							<div class="sendGoods">
								<span>order ID：</span><em th:text="${order.orderNo}"></em>
							</div>
							<div class="sendGoods">
								<span>order status：</span>
								<em th:switch="${order.orderStatus}">
									<span th:case="0">out of stock</span>
									<span th:case="1">order created, waiting for payment</span>
									<span th:case="2">order placed, witing for delivery</span>
									<span th:case="99">order cancel, time out</span>
								</em>
							</div>
							<div class="sendGoods">
								<span>item name：</span><em th:text="${seckillActivity.name}"></em>
							</div>
							<div class="sendGoods">
								<span>order time：</span><em th:text="${#dates.format(order.createTime,'yyyy-MM-dd HH:mm:ss')}"></em>
							</div>
						</li>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="hr"></div>
			</div>
		</div>
	</div>
	<div class="clearfix trade">
		<div class="fc-price">order price:　<span class="price"></span></div>
		<em th:text="'$'+${order.orderAmount}"></em>
	</div>

	<em th:switch="${order.orderStatus}">
			<span th:case="1">
				<div class="submit">
					<a class="sui-btn btn-danger btn-xlarge" th:href="@{'/seckill/payOrder/' + ${order.orderNo}}">check out</a>
				</div>
			</span>
	</em>

</div>
<!-- 底部栏位 -->

<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>

<script src="/js/vue.js"></script>
<script src="/js/axios.js"></script>
</body>
</html>